 <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Get In Touch</p>
        </div>
        <!-- End Section Title -->
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-6">
              <p>
                We’d love to hear from you. Please reach out with any questions
                or to discuss how MCND Consulting can support your energy
                projects.
              </p>
            </div>
          </div>
        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>Lasnamäe linnaosa, Sepapaja tn 6, 15551</p>
                    <p>Tallinn, Harju maakond</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+43 660 8580114</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p><a style="text-decoration: none; color: var(--default-color);" href="mailto:info@mcnd.me">info@mcnd.me</a></p>
                    <p><a style="text-decoration: none; color: var(--default-color);" href="mailto:contact@mcnd.me">contact@mcnd.me</a></p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="col-md-6">
                  <div class="info-item" data-aos="fade" data-aos-delay="500">
                    <i class="bi bi-clock"></i>
                    <h3>Meet us at</h3>
                    <p>Gastech Exhibition & Conference</p>
                    <p>On September 9, 2025 Milan, Italy</p>
                  </div>
                </div>
                <!-- End Info Item -->
              </div>
            </div>

            <div class="col-lg-6">
              <form
                      action="https://api.web3forms.com/submit"
                      method="post"
                      class="php-email-form"
                      data-aos="fade-up"
                      data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="Your Name"
                            required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                            type="email"
                            class="form-control"
                            name="email"
                            placeholder="Your Email"
                            required=""
                    />
                  </div>

                  <div class="col-12">
                    <input
                            type="text"
                            class="form-control"
                            name="subject"
                            placeholder="Subject"
                            required=""
                    />
                  </div>

                  <div class="col-12">
                    <textarea
                            class="form-control"
                            name="message"
                            rows="6"
                            placeholder="Message"
                            required=""
                    ></textarea>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit">Send Message</button>
                  </div>
                </div>

                <input
                        type="hidden"
                        name="access_key"
                        value="b4664f81-33df-4f12-87d7-7f11df225e5f"
                />
                <!-- Honeypot Spam Protection -->
                <input
                        type="checkbox"
                        name="botcheck"
                        class="hidden"
                        style="display: none"
                />
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>