<header id="header" class="header d-flex align-items-center fixed-top">
        <div
            class="container-fluid container-xl position-relative d-flex align-items-center"
        >
            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <img src="/src/assets/img/logo.png" alt="logo"/>
                <h1 class="sitename">MCND Consulting OÜ</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li>
                        <a href="#hero" class="active">Home<br/></a>
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#why_us">Why us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted flex-md-shrink-0" href="index.html#contact"
            >Get In Touch</a>
        </div>
    </header>