 <div class="container section-title" data-aos="fade-up">
          <h2>Highlights</h2>
          <p>Key Services Highlights<br /></p>
        </div>
      

        <div class="container">
          <div class="row gy-5">
            <div class="col-xl-6" data-aos="zoom-out" data-aos-delay="100">
              <img src="./../assets/img/features.png" class="img-fluid" alt="" />
            </div>

            <div class="col-xl-6 d-flex">
              <div class="row align-self-center gy-4">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Energy Market Analysis</h3>
                  </div>
                </div>
               

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Regulatory & Policy Advisory</h3>
                  </div>
                </div>
               

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Renewable & Sustainable Energy Consulting</h3>
                  </div>
                </div>
              

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Project Development Support</h3>
                  </div>
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Energy Efficiency Strategies</h3>
                  </div>
                </div>
               

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="700">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h3>Consulting Services</h3>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>