<div class="container section-title" data-aos="fade-up">
          <h2>Our Values</h2>
          <p>Behind the Brand<br /></p>
        </div>
       

        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <img src="/src/assets/img/values-2.png" class="img-fluid" alt="" />
                <h3>Our Mission</h3>
                <p>
                  At MCND Consulting OÜ, we are committed to driving energy
                  transition and business success through innovative consulting
                  rooted in deep market expertise and technology insights.
                </p>
              </div>
            </div>
          

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="card">
                <img src="/src/assets/img/values-1.png" class="img-fluid" alt="" />
                <h3>Our Vision</h3>
                <p>
                  To be the trusted partner for energy companies across Europe,
                  enabling smart decisions and sustainable growth in a dynamic
                  industry.
                </p>
              </div>
            </div>
           

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
              <div class="card">
                <img src="/src/assets/img/values-3.png" class="img-fluid" alt="" />
                <h3>Our Team</h3>
                <p>
                  MCND Consulting’s team combines years of experience in energy
                  markets, regulatory frameworks, and technical fields — ready
                  to deliver tailored solutions for your specific needs.
                </p>
              </div>
            </div>
         
          </div>
        </div>