 <div class="container section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>What they are saying about us<br /></p>
        </div>

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 3,
                    "spaceBetween": 1
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Luca has a rare talent for identifying innovative solutions, thinking beyond the obvious, and bringing real added value—not just for the companies he works with, but especially for the end customer. He understands how to build long-term partnerships that are meaningful, dynamic, and mutually beneficial. He’s highly responsive, proactive, and always open to exploring new ideas and opportunities.
                  </p>
                  <div class="profile mt-auto">
                    <img
                            src="./../assets/img/testimonials/testimonials-2.jpg"
                            class="testimonial-img"
                            alt=""
                    />
                    <h3>Ciro Borrelli</h3>
                    <h4>Head of Business Development</h4>
                  </div>
                </div>
              </div>
            

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Luca has an understanding of market trends, customer needs
                    and instincts for identifying and pursuing qualified leads.
                    He successfully marketed company structured portfolio,
                    contributing substantially to the desk p&l. Luca has the
                    combination of business acumen and communication skills that
                    makes him an outstanding salesperson. Finally, Luca is
                    always ready to lend a helping hand to his teammates and
                    contributes during brainstorming sessions among the team.
                    Outside of official events, Luca also supports his
                    colleagues professionally and personally.
                  </p>
                  <div class="profile mt-auto">
                    <img
                            src="./../assets/img/testimonials/testimonials-1.jpg"
                            class="testimonial-img"
                            alt=""
                    />
                    <h3>Stefan Izdrea</h3>
                    <h4>Trader</h4>
                  </div>
                </div>
              </div>
             

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    I’ve known Luca Palmeri for over ten years, ever since we first met through work in the energy sector. From the very beginning, I was struck by his transparency, his genuine kindness, and the honesty he brings to both personal and professional relationships. Beyond that, his deep understanding of energy-related topics—particularly in the area we were collaborating on—stood out clearly.
                  </p>
                  <div class="profile mt-auto">
                    <img
                            src="./../assets/img/testimonials/testimonials-3.jpg"
                            class="testimonial-img"
                            alt=""
                    />
                    <h3>Ciro Borrelli</h3>
                    <h4>Head of Business Development</h4>
                  </div>
                </div>
              </div>
            

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i
                  ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    As part of Luca's Team at OTG, I've worked closely with him for about 1.5 years, starting end of 2013, sharing the same open office space the majority of the time. Luca showed excellent communication and business skills. On a personal level, he's charismatic and well-spoken, both qualities that have served him well in his role as Head of Origination and Structuring Team.
                  </p>
                  <div class="profile mt-auto">
                    <img
                            src="./../assets/img/testimonials/testimonials-4.jpg"
                            class="testimonial-img"
                            alt=""
                    />
                    <h3>Stefan Izdrea</h3>
                    <h4>Trader</h4>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>