<div class="container section-title" data-aos="fade-up">
          <p>Why Choose Us<br /></p>
        </div>

        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-lightning color-blue flex-shrink-0"></i>
                <div>
                  <p>Proven expertise in European energy markets</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i
                        class="bi bi-people color-orange flex-shrink-0"
                        style="color: #ee6c20"
                ></i>
                <div>
                  <p>Customized consulting tailored to client goals</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i
                        class="bi bi-lightbulb color-green flex-shrink-0"
                        style="color: #15be56"
                ></i>
                <div>
                  <p>
                    Forward-looking insights powered by the latest technologies
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i
                        class="bi bi-recycle color-pink flex-shrink-0"
                        style="color: #bb0852"
                ></i>
                <div>
                  <p>
                    Commitment to sustainable and efficient energy solutions
                  </p>
                </div>
              </div>
            </div>
        </div>